# PathFinding Data PreProcessing
* find subject data
* find experiment and eyetracking files
* combine experiment files for single subject to consolidate
* combine eyetracking files for single subject and pre-process
* performance analysis of PathFinding experiments

## Configuration

In [1]:
# General configuration
import os

# data_directory: str
#     Path to a directory to store data.
data_directory = '.'

# install_missing_packages: bool
#     A flag indicating if missing packages should be automatically installed
install_missing_packages = True

# use_conda: bool
#     A flag indicating if conda should be used for software installation.
#     If False, pip will be used. The default is to use conda if jupyter
#     is run in a conda environment.
use_conda = 'CONDA_EXE' in os.environ

## Checking for missing packages

In [2]:
import importlib

def check_package(package, pip_pkg: str = None, conda_pkg: str = None):
    """Check if a given package is installed. If missing install
    it (if global flag `install_missing_packages` is True) either with
    pip or with conda (depending on `use_conda`).
    """
    if importlib.util.find_spec(package) is not None:
        return  # ok, package is already installed

    if not install_missing_packages:
        raise RuntimeError(f"{package} is not installed!")

    if use_conda:
        import conda.cli
        conda.cli.main('conda', 'install',  '-y', conda_pkg or package)
    else:
        import subprocess
        import sys            
        subprocess.check_call([sys.executable, '-m', 'pip', 'install', pip_pkg or package])
        
# This is to exit cells without error tracebacks (cosmetic purpose)
class StopExecution(Exception):
    def _render_traceback_(self):
        pass

## Creating the required environment (skip if already done)

Running the following cell will create a file graphs.yml that can be used to setup a conda environment containing the required packages. If you already downloaded the file from my GitHub, skip the next cell and create the env directly from it.

In [3]:
%%writefile graphs.yml
name: graphs
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.6
  - jupyter
  - imageio
  - imageio-ffmpeg
  - matplotlib
  - scikit-image
  - opencv
  - networkx
  - pandas
  - statsmodels

Writing graphs.yml

### Environment Creation
To create the environment, open the terminal, go to the directory where you stored the graphs.yml file (the directory of the notebook) and type
conda env create -f graphs.yml
After running this command you have to activate the environment (Linux/MacOS: conda activate graphs, Windows: activate graphs) and then reopen the notebook in that environment.

## Main Part

### Imports and directory information

In [1]:
import os
import cv2
import json
import numpy as np
import re
import matplotlib.pyplot as plt
import pandas as pd
import networkx as nx
import glob
import scipy.cluster.vq as clusters
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#from sklearn.preprocessing import normalize
from pandas.plotting import autocorrelation_plot as AC_plot 
from statsmodels.graphics import tsaplots
from statsmodels.tsa.stattools import acf
from skimage.filters import gaussian
from mpl_toolkits.mplot3d import Axes3D 
from matplotlib.colors import LinearSegmentedColormap
import time

In [33]:
OG_DATA_PATH = './'

condition = 'Dyadic' # Single, Dyadic, SingleC
DATA_PATH = './Data {}/'.format(condition)
LAB_DATA_PATH = "C:/Users/experiment/Desktop/SpaReBuildsTesting/999_DO NOT USE_OLD_Builds_Data/4_Pathfinding_StudyProject/data/"
LAB_DATA_PATH += condition.lower() + '/';
DATA_PATH = LAB_DATA_PATH # Comment out when not in lab

# print(LAB_DATA_PATH);
RESSOURCES_PATH = './Ressources/'
#houselist 
house_file = RESSOURCES_PATH + 'building_collider_list.csv'
try:
    houselist = pd.read_csv(house_file)
except:
    print('HouseList could not be loaded!')

PROCESSED_DATA_PATH = './Results/' + condition + '/'
PROCESSED_DATA_FOLDER = sorted([f for f in os.listdir(PROCESSED_DATA_PATH) if not f.startswith('.')], key=str.lower)

# Extracting all subject IDs from the data folder
# Getting the Folder without hidden files in ascending order 
DATA_FOLDER = sorted([f for f in os.listdir(DATA_PATH) if not f.startswith('.')], key=str.lower)

subIDs = []
for sub in DATA_FOLDER:
    if sub[0].isdigit():
        subIDs.append(int(sub[0:4]))
    else:
        pass
subIDs = np.unique(subIDs)


#subIDs = [1023] # remove to do for all subIDs
print(subIDs)

[1005 1008 1011 1018 1021 1023 1054 1074]

In [9]:
import random


# Store Time limits for each path condition
path_time_limits_A = [300, 305, 234, 332, 268, 394, 152, 383, 332];
target_house_names_A = ['windmill', 'book', 'shark', 'bear', 'no graffiti', \
                        'banque strechnitz', 'foxes', 'johny patisserie', \
                       'gorilla', 'remote house']

target_house_names_B = target_house_names_A.copy();
target_house_names_B.reverse();
path_time_limits_B = path_time_limits_A.copy();
path_time_limits_B.reverse();


# Leader : follower map
dyadic_pair_map = {
    '1021' : '1022',
    '1023' : '1013',
    '1005' : '1055',
    '1074' : '1069',
    '1008' : '1058',
    '1054' : '1004',
    '1011' : '1017',
    '1018' : '1057'
}

# Generate random session IDs to group leader and follower from same session easily in analysis
dyadic_session_ids = {}
for leader in dyadic_pair_map.keys():
    _id = random.randint(1000,9999);
    dyadic_session_ids[leader] = _id;
    dyadic_session_ids[dyadic_pair_map[leader]] = _id;
    
print(dyadic_session_ids);

{'1021': 5944, '1022': 5944, '1023': 7274, '1013': 7274, '1005': 4748, '1055': 4748, '1074': 7098, '1069': 7098, '1008': 5984, '1058': 5984, '1054': 3968, '1004': 3968, '1011': 2060, '1017': 2060, '1018': 5324, '1057': 5324}

<img src='Pics/paths.png'>

# Performance Analysis

## Calculating Distances for Each Path from Eyetracking File

In [11]:
# Function to take subject ID and get distance walked for each path from subject's eyetracking files

def get_covered_distances_2(subID, condition):
    # TODO: have to think about no-hits for this?
#     return [0] * 10;
    
    # Get the consolidated hitpoints file which has HMD position data for each hitpoint
    # If hitpoint file not found, return 0 distance for all paths
    PROCESSED_DATA_PATH = './Results/' + condition + '/'
    try:
        filename = PROCESSED_DATA_PATH + str(subID) + '_' + condition +"_CompleteHitpoints.csv";
        data = pd.read_csv(filename);
    except:
        print('Could not read ' + filename);
        return[0] * 10;

    # Column names for intermediate DF and final DF respectively
    condense_col_names = ['PathNumber', 'xsqDiff', 'zsqDiff', 'eucDist']
    covered_dist_col_names = ['eucDist'];
    
    # Remove all second ordinal hits (HMD position is NA in consolidated hitpoint file)
    data = data.dropna(subset=['hmdPosition.x','hmdPosition.y','hmdPosition.z']);
    data = data.reset_index(drop=True)
    data['hmdPosition.z'] = data['hmdPosition.z'].astype(float);
    
    test_2df = data.copy()
    # Create intermediate and Final DF respectively
    condense_df = pd.DataFrame(index=range(len(data)), columns=condense_col_names)
    cov_dist_df = pd.DataFrame(index=range(10), columns=covered_dist_col_names);
    
    # Transfer over path number as is
    condense_df.PathNumber = data.PathNumber
    
    # Get the difference in the X- and Z-coordinates between each consecutive point 
    # Y-coordinate corresponds to HMD height and is ignored for map-distance covered
    condense_df.xsqDiff = data['hmdPosition.x'] - data['hmdPosition.x'].shift();
    condense_df.zsqDiff = data['hmdPosition.z'] - data['hmdPosition.z'].shift();
    
    test_df = condense_df.copy()
    
    # Square the x- and z- differences between each consecutive point
    condense_df.xsqDiff = condense_df.xsqDiff ** 2;
    condense_df.zsqDiff = condense_df.zsqDiff ** 2;
 
    # add the squared distances and take square root to get euclidean distance
    #    between each consecutive point
    condense_df.eucDist = (condense_df.xsqDiff + condense_df.zsqDiff) ** 0.5;
    
    # sum up the total euclidean distance grouped by path number to get distance 
    #    covered for each path
    cov_dist_df['eucDist'] = condense_df.groupby(['PathNumber'])['eucDist'].sum()
    
    # Return distances as list
    return list(cov_dist_df.eucDist)

get_covered_distances_2('1023', 'Single')

[20.246097486375024,
 1319.0949930328525,
 300.2472684556124,
 172.2245698054245,
 1919.3240861635531,
 346.1269282883433,
 520.6334534541306,
 214.3287610941289,
 489.09540160587665,
 442.6263057041419]

In [12]:
# Function to take subject ID and get distance walked for each path from subject's eyetracking files
# This function separates the path data before calculating distance between points, thereby removing 
# calculation of differences between two data points which belong to different paths (distance between red zone and 
#  subsequent green zone)
def get_covered_distances(subID, condition):
    # TODO: have to think about no-hits for this?
#     return [0] * 10;
    
    # Get the consolidated hitpoints file which has HMD position data for each hitpoint
    # If hitpoint file not found, return 0 distance for all paths
    PROCESSED_DATA_PATH = './Results/' + condition + '/'
    try:
        filename = PROCESSED_DATA_PATH + str(subID) + '_' + condition +"_CompleteHitpoints.csv";
        data = pd.read_csv(filename);
    except:
        print('Could not read ' + filename);
        return[0] * 10;

    # Column names for intermediate DF and final DF respectively
    condense_col_names = ['PathNumber', 'xsqDiff', 'zsqDiff', 'eucDist']
    covered_dist_col_names = ['eucDist'];
    
    # Remove all second ordinal hits (HMD position is NA in consolidated hitpoint file)
    data = data.dropna(subset=['hmdPosition.x','hmdPosition.y','hmdPosition.z']);
    data = data.reset_index(drop=True)
    data['hmdPosition.z'] = data['hmdPosition.z'].astype(float);
    
    test_2df = data.copy()
    # Create intermediate and Final DF respectively
    condense_df = pd.DataFrame(columns=condense_col_names)
    cov_dist_df = pd.DataFrame(index=range(10), columns=covered_dist_col_names);
    
    # Transfer over path number as is
    condense_df.PathNumber = data.PathNumber
    
    # Get the difference in the X- and Z-coordinates between each consecutive point 
    # Y-coordinate corresponds to HMD height and is ignored for map-distance covered
    #print(data[data.PathNumber==1])
    for i in range(10):
        
        filtered_df = data[data.PathNumber==i].reset_index();
        temp_df = pd.DataFrame(index=range(len(filtered_df)), columns=condense_col_names)
        temp_df.PathNumber = filtered_df.PathNumber
        temp_df.xsqDiff = filtered_df['hmdPosition.x'] - filtered_df['hmdPosition.x'].shift();
        temp_df.zsqDiff = filtered_df['hmdPosition.z'] - filtered_df['hmdPosition.z'].shift();
        temp_df = temp_df.dropna(subset=["xsqDiff", "zsqDiff"])
        condense_df = condense_df.append(temp_df, ignore_index=True)
    
    test_df = condense_df.copy()
    
    # Square the x- and z- differences between each consecutive point
    condense_df.xsqDiff = condense_df.xsqDiff ** 2;
    condense_df.zsqDiff = condense_df.zsqDiff ** 2;
 
    # add the squared distances and take square root to get euclidean distance
    #    between each consecutive point
    condense_df.eucDist = (condense_df.xsqDiff + condense_df.zsqDiff) ** 0.5;
    
    # sum up the total euclidean distance grouped by path number to get distance 
    #    covered for each path
    cov_dist_df['eucDist'] = condense_df.groupby(['PathNumber'])['eucDist'].sum()
    
    # Return distances as list
    return list(cov_dist_df.eucDist)

get_covered_distances('1023', 'Single')

[20.246097486375024,
 1313.6518207494814,
 296.1762350141909,
 168.4622204448431,
 1916.1847935678902,
 342.51937901707055,
 514.9431120922344,
 208.6479978623132,
 486.3522752343006,
 437.92203958766544]

## Condensing Each Subject Experiment Files into Performance Table on Each Path

In [14]:
# Columns for consolidated data from all experiment files
pA_col_names = ['SubjectID', 'Condition', 'Dyadic?', 'Leader?', 'SessionID'];
for i in range(1,10):
    path_prefix = "P"+str(i);
    
    pA_col_names.append(path_prefix + ":Success")
    pA_col_names.append(path_prefix + ":TimeSec")
    pA_col_names.append(path_prefix + ":Time After Guide")
    pA_col_names.append(path_prefix + ":Distance Covered")

pA_col_names.append("#Success");

In [34]:
# Create analysis data frame
perf_anal_df = pd.DataFrame(columns=pA_col_names);

# Loop through all subjects
for subject in subIDs:
    
    # Get distance covered per path for given subject
    covered_distances = get_covered_distances(subject, condition);
    
    # Read the experiment data for the subject
    sub_expt_data = {}
    sub_expt_file_name = PROCESSED_DATA_PATH + str(subject) + "_"+condition+"Pathfinding_Final.json";
    try:
        with open(sub_expt_file_name, 'r') as fp:
            sub_expt_data = json.load(fp);
    except:
        print("Could not read experiment file for subject " + str(subject));
        continue;
    
    print("Running for subject " + str(subject))
    # Create the initial dictionary to store the experiment performance information for current subject 
    sub_per_data = {'SubjectID' : sub_expt_data['ParticipantID'],
                    'Condition' : 'B' if sub_expt_data['PathsReversed'] else 'A',
                    'Dyadic?' : sub_expt_data['IsDyadic'],
                    'Leader?' : sub_expt_data['IsLeader']
                   };
    
    # Store randomly generated (see cell somewher above) session ID if dyadic
    if sub_per_data['Dyadic?']: 
        sub_per_data['SessionID'] = dyadic_session_ids[sub_per_data['SubjectID']];
    else:
        sub_per_data['SessionID'] = 'NaN';
    
    # Get the path time limits for the current condition
    path_time_limits = path_time_limits_B if sub_expt_data['PathsReversed'] else path_time_limits_A;
    num_success = 0;
    
    # for each path (ignoring the tutorial path 0)
    for i in range(1,10):
        # Get the trial data from the experiment file for the current path
        current_trial_data = sub_expt_data['TrialData'][i];
        
        # Get the time for the path by subtracting start time from end time
        sub_per_data["P"+str(i)+":TimeSec"] = current_trial_data['EndMachineTimeStamp'] \
                                                - current_trial_data['StartMachineTimeStamp'];
        
        # Path was a success for subject if they did not use the path guide
        sub_per_data["P"+str(i)+":Success"] = not current_trial_data['GuideUsed'];
        
        # Count number of successes
        if sub_per_data["P"+str(i)+":Success"]: 
            num_success += 1;
        
        # Get the time after the guide appeared
        sub_per_data["P"+str(i)+":Time After Guide"] = sub_per_data["P"+str(i)+":TimeSec"] - path_time_limits[i-1];
        
        # Store the distance covered for the path
        sub_per_data["P"+str(i)+":Distance Covered"] = covered_distances[i];
    
    # Store the number of successes
    sub_per_data['#Success'] = num_success;
    
    # Normalize collected data and append to dataframe
    sub_df = pd.json_normalize(sub_per_data);
    perf_anal_df = perf_anal_df.append(sub_df);

print('Analysis Complete');

Running for subject 1005
Running for subject 1008
Running for subject 1011
Running for subject 1018
Running for subject 1021
Running for subject 1023
Running for subject 1054
Running for subject 1074
Analysis Complete

In [122]:
# perf_anal_df

In [19]:
# Save to Single
perf_anal_df.to_csv(PROCESSED_DATA_PATH + 'Single_Performance_Analysis.csv', index=False);

In [35]:
# Save to Dyadic
perf_anal_df.to_csv(PROCESSED_DATA_PATH + 'Dyadic_Performance_Analysis.csv', index=False);

In [31]:
# Save to SingleC
perf_anal_df.to_csv(PROCESSED_DATA_PATH + 'SingleC_Performance_Analysis.csv', index=False);

In [20]:
# Display Collected Single Experiment Data
anal = pd.read_csv('./Results/Single/Single_Performance_Analysis.csv');
anal

,SubjectID,Condition,Dyadic?,Leader?,SessionID,P1:Success,P1:TimeSec,P1:Time After Guide,P1:Distance Covered,P2:Success,...,P7:Distance Covered,P8:Success,P8:TimeSec,P8:Time After Guide,P8:Distance Covered,P9:Success,P9:TimeSec,P9:Time After Guide,P9:Distance Covered,#Success
0,1004,B,False,False,NaN,False,449.037666,117.037666,1755.037910,False,...,173.840105,False,390.436826,85.436826,1770.585236,True,113.507971,-186.492029,496.366978,3
1,1005,A,False,False,NaN,True,158.458649,-141.541351,470.272979,True,...,1287.066598,True,182.991541,-200.008459,713.965772,False,485.039520,153.039520,1822.081722,6
2,1008,B,False,False,NaN,True,89.310862,-242.689138,442.416783,True,...,261.770426,True,90.587071,-214.412929,445.694201,True,106.655506,-193.344494,529.413491,8
3,1010,B,False,False,NaN,False,602.111310,270.111310,1660.381992,True,...,169.263897,True,162.011336,-142.988664,766.886526,True,196.642525,-103.357475,935.244486,7
4,1011,B,False,False,NaN,True,102.925068,-229.074932,474.958253,True,...,170.132554,False,368.540978,63.540978,1647.211780,True,217.615655,-82.384345,980.786808,7
5,1013,A,False,False,NaN,True,125.361833,-174.638167,561.437040,True,...,202.900992,True,136.801561,-246.198439,638.763385,False,438.497586,106.497586,1847.357822,8
6,1017,B,False,False,NaN,True,261.689323,-70.310677,1154.835160,False,...,172.759924,False,432.588424,127.588424,1944.986397,True,289.393871,-10.606129,1384.185154,4
7,1018,B,False,False,NaN,True,165.254440,-166.745560,749.457232,True,...,169.668735,False,407.066795,102.066795,1995.233412,True,273.094684,-26.905316,1320.094456,7
8,1019,A,False,False,NaN,True,100.749390,-199.250610,484.189099,True,...,236.843782,True,114.624974,-268.375026,564.016549,False,470.427692,138.427692,2318.707260,7
9,1021,A,False,False,NaN,False,398.568231,98.568231,1851.263347,True,...,229.958959,True,118.187025,-264.812975,571.066503,False,447.441651,115.441651,2196.429637,6
10,1022,A,False,False,NaN,False,412.365976,112.365976,881.204709,False,...,233.491886,True,133.819972,-249.180028,573.060883,False,432.486427,100.486427,1630.350392,3
11,1023,A,False,False,NaN,True,270.829551,-29.170449,1313.651821,True,...,208.647998,True,100.306452,-282.693548,486.352275,True,89.940064,-242.059936,437.922040,8
12,1054,B,False,False,NaN,True,116.566591,-215.433409,532.394881,True,...,433.108885,True,301.054512,-3.945488,1354.905516,True,108.267509,-191.732491,501.751405,7
13,1055,A,False,False,NaN,True,144.187012,-155.812988,525.235080,True,...,977.654810,False,392.187681,9.187681,1735.216466,False,659.592341,327.592341,2519.456797,3
14,1056,A,False,False,NaN,False,378.480453,78.480453,1815.975923,True,...,208.530973,True,154.837196,-228.162804,697.832621,False,421.223222,89.223222,1847.374644,4
15,1057,B,False,False,NaN,False,390.641273,58.641273,1708.023218,False,...,985.855678,True,234.256697,-70.743303,1052.724573,True,107.955062,-192.044938,483.009374,4
16,1058,B,False,False,NaN,True,108.070100,-223.929900,517.845578,True,...,496.847667,True,207.416541,-97.583459,983.539628,True,98.425369,-201.574631,473.485753,7
17,1068,B,False,False,NaN,True,178.127398,-153.872602,648.912005,True,...,165.153374,True,97.195615,-207.804385,411.771708,True,166.848861,-133.151139,783.089615,7
18,1069,A,False,False,NaN,True,179.821195,-120.178805,804.402011,True,...,1267.295221,False,471.801792,88.801792,2244.017879,False,419.190615,87.190615,1942.021116,3
19,1072,B,False,False,NaN,True,239.075698,-92.924302,1157.825083,False,...,185.216625,True,76.572888,-228.427112,333.494572,True,101.952685,-198.047315,492.357822,7
20,1073,B,False,False,NaN,True,101.650622,-230.349378,489.809072,True,...,168.222427,False,420.503861,115.503861,2031.763169,True,113.671168,-186.328832,493.616001,5
21,1074,A,False,False,NaN,False,353.590696,53.590696,1633.272510,True,...,235.167269,True,290.166231,-92.833769,1382.863711,True,118.526552,-213.473448,554.677694,7
22,1075,A,False,False,NaN,True,153.993442,-146.006558,694.685189,True,...,231.592615,True,114.156751,-268.843249,557.940335,True,86.551902,-245.448098,407.227320,8
23,1077,B,False,False,NaN,False,499.691592,167.691592,2314.229850,True,...,168.353269,True,182.593737,-122.406263,838.849482,True,103.399997,-196.600003,491.709691,7
24,1079,A,False,False,NaN,False,457.023350,157.023350,2173.544960,True,...,233.596547,True,251.146140,-131.853860,1206.531496,False,406.807315,74.807315,1845.884907,5
25,1080,B,False,False,NaN,True,98.407363,-233.592637,466.605837,False,...,192.512113,True,250.285496,-54.714504,1201.757853,True,105.933169,-194.066831,494.178874,7

In [36]:
# Display Collected Dyadic Experiment Data
anal = pd.read_csv('./Results/Dyadic/Dyadic_Performance_Analysis.csv');
anal

,SubjectID,Condition,Dyadic?,Leader?,SessionID,P1:Success,P1:TimeSec,P1:Time After Guide,P1:Distance Covered,P2:Success,...,P7:Distance Covered,P8:Success,P8:TimeSec,P8:Time After Guide,P8:Distance Covered,P9:Success,P9:TimeSec,P9:Time After Guide,P9:Distance Covered,#Success
0,1005,B,True,True,4748,True,159.901736,-172.098264,468.431516,True,...,937.722775,True,105.293208,-199.706792,325.758144,True,173.905779,-126.094221,486.779248,8
1,1008,A,True,True,5984,True,117.755503,-182.244497,580.952496,True,...,244.502069,True,117.429136,-265.570864,580.853947,True,258.906364,-73.093636,1279.019076,8
2,1011,A,True,True,2060,True,134.858309,-165.141691,606.083715,True,...,231.378044,True,119.176291,-263.823709,577.076636,True,290.754437,-41.245563,1430.229198,7
3,1018,A,True,True,5324,True,263.787934,-36.212066,1241.986397,True,...,231.081592,True,332.989794,-50.010206,1624.277866,True,111.840953,-220.159047,492.752037,9
4,1021,B,True,True,5944,True,101.885863,-230.114137,470.318873,True,...,174.068730,True,62.674078,-242.325922,300.016425,True,100.308087,-199.691913,491.619780,9
5,1023,B,True,True,7274,True,96.119958,-235.880042,462.392495,True,...,163.024449,True,103.161679,-201.838321,506.234923,True,95.697365,-204.302635,472.818372,9
6,1054,A,True,True,3968,True,188.245622,-111.754378,781.676181,True,...,228.274008,True,107.084548,-275.915452,508.893059,True,116.142510,-215.857490,537.107423,8
7,1074,B,True,True,7098,True,148.087081,-183.912919,656.698526,True,...,323.719528,True,166.638451,-138.361549,763.259155,True,145.070412,-154.929588,651.380744,9

In [32]:
# Display Collected Single Control Experiment Data
anal = pd.read_csv('./Results/SingleC/SingleC_Performance_Analysis.csv');
anal

,SubjectID,Condition,Dyadic?,Leader?,SessionID,P1:Success,P1:TimeSec,P1:Time After Guide,P1:Distance Covered,P2:Success,...,P7:Distance Covered,P8:Success,P8:TimeSec,P8:Time After Guide,P8:Distance Covered,P9:Success,P9:TimeSec,P9:Time After Guide,P9:Distance Covered,#Success
0,1010,A,False,False,NaN,True,103.283452,-196.716548,476.096039,True,...,237.427410,True,149.935175,-233.064825,641.026161,False,349.954884,17.954884,1619.421569,7
1,1019,B,False,False,NaN,True,121.585427,-210.414573,588.410275,True,...,171.249144,True,62.756872,-242.243128,304.284589,True,126.389681,-173.610319,626.570717,9
2,1056,B,False,False,NaN,True,99.185621,-232.814379,474.406991,True,...,171.710211,False,376.036466,71.036466,1713.066832,True,101.787637,-198.212363,490.774520,7
3,1068,A,False,False,NaN,True,129.268349,-170.731651,574.518955,True,...,304.825454,True,117.311292,-265.688708,553.495537,False,474.197720,142.197720,2198.983763,7
4,1072,A,False,False,NaN,True,106.815908,-193.184092,528.177114,True,...,234.893212,True,113.280268,-269.719732,562.248210,True,150.568494,-181.431506,670.313338,8
5,1073,A,False,False,NaN,False,352.014228,52.014228,1698.387879,True,...,1840.983214,True,175.417123,-207.582877,829.897009,False,454.078002,122.078002,2196.108475,5
6,1075,B,False,False,NaN,True,96.997154,-235.002846,450.548992,True,...,763.978605,True,58.880095,-246.119905,284.709058,True,97.315090,-202.684910,476.694398,9
7,1077,A,False,False,NaN,True,102.892725,-197.107275,480.416954,True,...,230.393651,True,211.720585,-171.279415,976.365778,True,100.524325,-231.475675,467.020851,7
8,1079,B,False,False,NaN,True,294.374525,-37.625475,1409.264233,True,...,1393.434158,False,345.073664,40.073664,1600.080064,True,274.738379,-25.261621,1269.599908,7
9,1080,A,False,False,NaN,True,137.255427,-162.744573,659.431672,True,...,240.434241,True,125.162962,-257.837038,555.606218,False,432.332893,100.332893,1953.778391,6

## Analysis of Performance per Path

### Collect Path Averages and SDs for Each Condition

In [79]:

# Per Condition, Per Path: Average Time, SD Time, Average Success, Average Time after Fail
# Per Condition Success Average

def get_path_stats(condition1, condition2):
    # Columns for the descriptive statistics that we want to consider
    path_anal_cols = ['PathNum', 'Target', '+ Rate', 'Limit', 'Avg. T (+)', 'SD T (+)', 'Avg. T (after -)', \
                      'SD T (after -)', 'Avg D (+)', 'SD D (+)', 'Avg S (+)', 'SD S (+)', 'Max S (+)', 'Min S (+)']
    
    target_house_names = target_house_names_A if condition2 == "A" else target_house_names_B
    path_time_limits = path_time_limits_A if condition2 == "A" else path_time_limits_B
    
    PROCESSED_DATA_PATH = './Results/' + condition1 + '/'
    # Read single pathfinding performance data
    anal = pd.read_csv(PROCESSED_DATA_PATH + condition1 + '_Performance_Analysis.csv');
    

    # Separate into Conditions A and B
    cond_anal = anal[anal.Condition == condition2]
    
    num_subs = len(cond_anal);
    

    # Get average number of total successes and std across participants for both conditions
    succ_avg = cond_anal['#Success'].mean() 
    anal_succ_std  = cond_anal['#Success'].std()


    # Starting extraction of statistics for condition A

    # Filter information from the dataframe that pertains to path performance (1-9)
    cond_paths = cond_anal.filter(regex="P.*")
    cond_path_stats = pd.DataFrame(columns = path_anal_cols);

    curr_row = {};
    successed = [];
    fails = []
    times = []

    # Iterate through all the columns containing path information
    # Each path has 4 columns
    for idx, column in enumerate(cond_paths):
        coltype = idx % 4;
        # Store the path number and the corresponding time limit
        curr_row['PathNum'] = int(idx / 4) + 1;
        curr_row['Target'] = target_house_names[curr_row['PathNum']];
        curr_row['Limit'] = path_time_limits[curr_row['PathNum'] - 1]


        # First column describes path success or not. Calculate success rate.
        if coltype == 0:
            successes = cond_paths[column];
            fails = ~successes;
            curr_row['+ Rate'] = successes.sum() / successes.count();

        # Second column describes time taken. Compute average and SD time for all succesful paths
        elif coltype == 1:
            times = cond_paths[column]
            curr_row['Avg. T (+)'] = cond_paths[column][successes].mean();
            curr_row['SD T (+)'] = cond_paths[column][successes].std();

        # Third column describes time taken after path time limit. Compute avg and SD for all failed paths
        elif coltype == 2:
            curr_row['Avg. T (after -)'] = cond_paths[column][fails].mean();
            curr_row['SD T (after -)'] = cond_paths[column][fails].std();

        # Fourth column describes distance covered. Compute avg and SD for all successes
        elif coltype == 3:
            curr_row['Avg D (+)'] = cond_paths[column][successes].mean();
            curr_row['SD D (+)'] = cond_paths[column][successes].std();

            curr_row['Avg S (+)'] = (cond_paths[column][successes] / times[successes]).mean();
            curr_row['SD S (+)'] = (cond_paths[column][successes] / times[successes]).std();
            
            curr_row['Max S (+)'] = (cond_paths[column][successes] / times[successes]).max();
            curr_row['Min S (+)'] = (cond_paths[column][successes] / times[successes]).min();

            cond_path_stats = cond_path_stats.append(curr_row, ignore_index=True)
            curr_row = {}

    cond_path_stats["Limit"] = cond_path_stats["Limit"].astype(float)
    cond_path_stats["PathNum"] = cond_path_stats["PathNum"].astype(float)
    
    return num_subs, {"avg": succ_avg, "std": anal_succ_std}, cond_path_stats;
    
    
AS_num_subs, AS_succ_stats, AS_path_stats = get_path_stats("Single", "A");
AS_path_stats.to_csv('./Results/Single/A_Path_Stats.csv');

BS_num_subs, BS_succ_stats, BS_path_stats = get_path_stats("Single", "B");
BS_path_stats.to_csv('./Results/Single/B_Path_Stats.csv');

AC_num_subs, AC_succ_stats, AC_path_stats = get_path_stats("SingleC", "A");
AC_path_stats.to_csv('./Results/SingleC/A_Path_Stats.csv');

BC_num_subs, BC_succ_stats, BC_path_stats = get_path_stats("SingleC", "B");
BC_path_stats.to_csv('./Results/SingleC/B_Path_Stats.csv');

AD_num_subs, AD_succ_stats, AD_path_stats = get_path_stats("Dyadic", "A");
AD_path_stats.to_csv('./Results/Dyadic/A_Path_Stats.csv');

BD_num_subs, BD_succ_stats, BD_path_stats = get_path_stats("Dyadic", "B");
BD_path_stats.to_csv('./Results/Dyadic/B_Path_Stats.csv');

### Single A vs. Single B

Investigating the effect of change of direction on path performance

<ul>
    <li> 
        Low correlation between success rate and path time limit (0.1 and 0.212)
        <ul>
            <li>
                Path time limit may not have been a good indicator of path difficulty
            </li>
        </ul>
    </li>
    <li> 
        Relatively high positive correlation between avg. distance on successes and path time limit (0.816 and 0.899)
        <ul>
            <li>
                Path time limit may have been a good indicator of path length
            </li>
        </ul>
    </li>
    <li> 
        Single A has overall 19 lesser successes over all paths than single B 
        <ul>
            <li>
                8 of these are accounted for by the last house being different in either condition
            </li>
            <li>
                Remainder 11 likely because of two extra participants in B condition
            </li>
        </ul>
    </li>
    <li> 
        Low to moderate positive correlation between path number and average speed
        <ul>
            <li>
                No suggestion that participants were slowing down over time, possibly due to tiredness
            </li>
        </ul>
    </li>
    <li> 
        Some paths have high deviation in distance covered, whereas others do not 
        <ul>
            <li>
                Banque Strechnitz, Foxes > Johny Patisserie, and the Remote House may have had relatively straightforward paths that all successful participants recognized in condition A
            </li>
            <li>
                Johny Patisserie > Foxes exhibits low deviation in distance covered in B as well
            </li>
        </ul>
    </li>
</ul>

#### Single A Stats

In [82]:
print('Condition A:')
print("\tNumber of subjects: " + str(AS_num_subs))
print('\tAvg Successes: ' + str(AS_succ_stats["avg"]));
print('\tSD Successes: ' + str(AS_succ_stats["std"]));

corr_ = AS_path_stats['+ Rate'].corr(AS_path_stats['Limit']);
print('\nCorrelation between Success and Path Time Limit: ' + str(corr_))
print('\nCorrelation between Avg D and Path Time Limit: ' + str(AS_path_stats['Avg D (+)'].corr(AS_path_stats['Limit'])))
print('\nCorrelation between Avg D and Success: ' + str(AS_path_stats['Avg D (+)'].corr(AS_path_stats['+ Rate'])))
print('\nCorrelation between Avg S and Success: ' + str(AS_path_stats['Avg S (+)'].corr(AS_path_stats['+ Rate'])))
print('\nCorrelation between Avg S and PathNum: ' + str(AS_path_stats['Avg S (+)'].corr(AS_path_stats['PathNum'])))

# Descriptive statistics per path for condition A
AS_path_stats

Condition A:
	Number of subjects: 12
	Avg Successes: 5.666666666666667
	SD Successes: 2.0150945537631877

Correlation between Success and Path Time Limit: -0.10093502226664555

Correlation between Avg D and Path Time Limit: 0.8162445933275249

Correlation between Avg D and Success: -0.2815923195280629

Correlation between Avg S and Success: 0.05441611833482798

Correlation between Avg S and PathNum: 0.5317052672025421

,PathNum,Target,+ Rate,Limit,Avg. T (+),SD T (+),Avg. T (after -),SD T (after -),Avg D (+),SD D (+),Avg S (+),SD S (+),Max S (+),Min S (+)
0,1.0,book,0.583333,300.0,161.914439,54.236144,100.005741,38.805747,693.410460,298.965982,4.247128,0.689520,4.850474,2.967796
1,2.0,shark,0.916667,305.0,103.495294,41.733701,60.849056,NaN,444.105754,190.533413,4.321187,0.585604,4.688475,2.680841
2,3.0,bear,0.833333,234.0,52.072322,35.897732,93.972566,103.429060,230.757404,162.852100,4.446598,0.413870,4.815188,3.448452
3,4.0,no graffiti,0.166667,332.0,196.542249,58.004837,120.673807,41.780004,803.894130,264.803545,4.068556,0.146572,4.172198,3.964914
4,5.0,banque strechnitz,0.500000,268.0,79.653422,9.573732,96.395639,65.235597,353.295889,12.240751,4.483926,0.499164,4.860903,3.626136
5,6.0,foxes,0.833333,394.0,155.129403,71.633193,62.425426,9.019406,681.017139,293.940689,4.452967,0.416271,4.906345,3.628856
6,7.0,johny patisserie,0.750000,152.0,57.555982,15.655423,150.006501,98.169669,224.525669,13.613748,4.101904,0.850133,4.873735,2.226607
7,8.0,gorilla,0.833333,383.0,159.703784,63.684079,48.994737,56.295677,739.239353,303.403762,4.641856,0.325700,4.920538,3.901633
8,9.0,remote house,0.250000,332.0,98.339506,17.564382,132.522930,77.269232,466.609018,77.798523,4.751275,0.102767,4.869043,4.679776

#### Single B Stats

In [81]:
print('Condition B:')
print("\tNumber of subjects: " + str(BS_num_subs))
print('\tAvg Successes: ' + str(BS_succ_stats["avg"]));
print('\tSD Successes: ' + str(BS_succ_stats["std"]));

corr_ = BS_path_stats['+ Rate'].corr(BS_path_stats['Limit']);
print('\nCorrelation between Success and Path Time Limit: ' + str(corr_))
print('\nCorrelation between Avg D and Path Time Limit: ' + str(BS_path_stats['Avg D (+)'].corr(BS_path_stats['Limit'])))
print('\nCorrelation between Avg D and Success: ' + str(BS_path_stats['Avg D (+)'].corr(BS_path_stats['+ Rate'])))
print('\nCorrelation between Avg S and Success: ' + str(BS_path_stats['Avg S (+)'].corr(BS_path_stats['+ Rate'])))
print('\nCorrelation between Avg S and PathNum: ' + str(BS_path_stats['Avg S (+)'].corr(BS_path_stats['PathNum'])))

BS_path_stats

Condition B:
	Number of subjects: 14
	Avg Successes: 6.214285714285714
	SD Successes: 1.5281246137553164

Correlation between Success and Path Time Limit: 0.2128210725066101

Correlation between Avg D and Path Time Limit: 0.8993478532672612

Correlation between Avg D and Success: 0.05690320834427762

Correlation between Avg S and Success: -0.21544193356062857

Correlation between Avg S and PathNum: 0.275464971436879

,PathNum,Target,+ Rate,Limit,Avg. T (+),SD T (+),Avg. T (after -),SD T (after -),Avg D (+),SD D (+),Avg S (+),SD S (+),Max S (+),Min S (+)
0,1.0,gorilla,0.714286,332.0,146.107746,62.410763,153.370460,89.679451,663.505988,275.909481,4.592152,0.371846,4.953673,3.642966
1,2.0,johny patisserie,0.642857,383.0,161.914168,85.031437,123.339809,46.854770,740.411634,413.917311,4.570293,0.348531,4.920069,3.766020
2,3.0,foxes,0.571429,152.0,49.831135,3.748735,129.493369,57.549610,228.446460,8.489905,4.601245,0.301619,4.934554,4.119062
3,4.0,banque strechnitz,0.928571,394.0,206.320719,97.617372,79.476636,NaN,948.218003,485.278432,4.530608,0.376079,4.942151,3.732818
4,5.0,no graffiti,0.000000,268.0,NaN,NaN,102.886259,74.888210,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,bear,0.714286,332.0,167.674285,58.569429,95.827939,12.060102,774.042090,257.125562,4.640180,0.219616,4.917234,4.209214
6,7.0,shark,1.000000,234.0,62.683658,51.683104,NaN,NaN,279.478977,229.227745,4.500475,0.377363,4.853031,3.563823
7,8.0,book,0.642857,305.0,177.997099,78.367980,98.827377,25.200365,821.069340,363.898623,4.597477,0.221969,4.920064,4.236526
8,9.0,windmill,1.000000,300.0,150.240288,67.216606,NaN,NaN,704.234993,325.006458,4.672957,0.185618,4.963771,4.342491

#### Single A vs Single B - Comparing Paths

<ul>
    <li> 
        Relatively high positive correlation between average distances covered on the same path (0.81)
        <ul>
            <li>
                Suggests that similar paths might have been taken in both directions
            </li>
            <li>
                Some paths have significant differences, such as Shark <> Book (A2B8), Foxes <> Strechnitz
            </li>
            <li>
                Few paths have similar differences, e.g,. Johny Patisserie <> Foxes (A7B3)
            </li>
        </ul>
    </li>
    <li> 
        Relatively high positive correlation between average times taken on the same path (0.77)
        <ul>
            <li>
                Suggests that similar paths might have been taken in both directions
            </li>
        </ul>
    </li>
    <li> 
        moderate to high positive correlation between success rates for the same targets (0.71)
        <ul>
            <li>
                Suggests the same target may have been equally difficult to find regardless of the direction
            </li>
        </ul>
    </li>
</ul>

In [84]:
column_subset = ["PathNum", "Target", "+ Rate", "Avg. T (+)", "SD T (+)", "Avg D (+)", "SD D (+)", "Avg S (+)", "SD S (+)"]
AS_path_stats_ren = AS_path_stats[column_subset].rename(columns=lambda n: n + " A");
BS_path_stats_ren = BS_path_stats[column_subset].rename(columns=lambda n: n + " B");

BS_path_stats_reversed = BS_path_stats_ren.reindex(index=BS_path_stats_ren.index[::-1])
BS_path_stats_reversed = BS_path_stats_reversed.reset_index(drop=True)
ASBS_joined = pd.concat([AS_path_stats_ren, BS_path_stats_reversed], axis=1)

new_columns = ['PathNum A', 'Target A',  '+ Rate A', 'Target B', '+ Rate B', 'Avg D (+) A', 'SD D (+) A', \
               'Avg D (+) B', 'SD D (+) B',  'Avg. T (+) A', 'SD T (+) A', 'Avg. T (+) B', \
               'SD T (+) B', 'Avg S (+) A', 'SD S (+) A', 'Avg S (+) B', 'SD S (+) B']

ASBS = ASBS_joined.reindex(sorted(ASBS_joined.columns), axis=1)[new_columns]


print('\nCorrelation between Avg Ds: ' + str(ASBS['Avg D (+) A'].corr(ASBS['Avg D (+) B'])))
print('\nCorrelation between Avg Ts: ' + str(ASBS['Avg. T (+) A'].corr(ASBS['Avg. T (+) B'])))


ASBS

Correlation between Avg Ds: 0.811333649530138

Correlation between Avg Ts: 0.7755333589233933

,PathNum A,Target A,+ Rate A,Target B,+ Rate B,Avg D (+) A,SD D (+) A,Avg D (+) B,SD D (+) B,Avg. T (+) A,SD T (+) A,Avg. T (+) B,SD T (+) B,Avg S (+) A,SD S (+) A,Avg S (+) B,SD S (+) B
0,1.0,book,0.583333,windmill,1.000000,693.410460,298.965982,704.234993,325.006458,161.914439,54.236144,150.240288,67.216606,4.247128,0.689520,4.672957,0.185618
1,2.0,shark,0.916667,book,0.642857,444.105754,190.533413,821.069340,363.898623,103.495294,41.733701,177.997099,78.367980,4.321187,0.585604,4.597477,0.221969
2,3.0,bear,0.833333,shark,1.000000,230.757404,162.852100,279.478977,229.227745,52.072322,35.897732,62.683658,51.683104,4.446598,0.413870,4.500475,0.377363
3,4.0,no graffiti,0.166667,bear,0.714286,803.894130,264.803545,774.042090,257.125562,196.542249,58.004837,167.674285,58.569429,4.068556,0.146572,4.640180,0.219616
4,5.0,banque strechnitz,0.500000,no graffiti,0.000000,353.295889,12.240751,NaN,NaN,79.653422,9.573732,NaN,NaN,4.483926,0.499164,NaN,NaN
5,6.0,foxes,0.833333,banque strechnitz,0.928571,681.017139,293.940689,948.218003,485.278432,155.129403,71.633193,206.320719,97.617372,4.452967,0.416271,4.530608,0.376079
6,7.0,johny patisserie,0.750000,foxes,0.571429,224.525669,13.613748,228.446460,8.489905,57.555982,15.655423,49.831135,3.748735,4.101904,0.850133,4.601245,0.301619
7,8.0,gorilla,0.833333,johny patisserie,0.642857,739.239353,303.403762,740.411634,413.917311,159.703784,63.684079,161.914168,85.031437,4.641856,0.325700,4.570293,0.348531
8,9.0,remote house,0.250000,gorilla,0.714286,466.609018,77.798523,663.505988,275.909481,98.339506,17.564382,146.107746,62.410763,4.751275,0.102767,4.592152,0.371846

#### Single A vs Single B - Comparing Targets

In [100]:
column_subset = ["PathNum", "Target", "+ Rate", "Avg. T (+)", "SD T (+)", "Avg D (+)", "SD D (+)", "Avg S (+)", "SD S (+)"]
AS_path_stats_ren = AS_path_stats[column_subset].rename(columns=lambda n: n + " A");
AS_new = pd.DataFrame(index=range(1), columns=AS_path_stats_ren.columns).append(AS_path_stats_ren).reset_index(drop=True);
BS_path_stats_ren = BS_path_stats[column_subset].rename(columns=lambda n: n + " B");
BS_new = pd.DataFrame(index=range(1), columns=BS_path_stats_ren.columns).append(BS_path_stats_ren).reset_index(drop=True);

BS_path_stats_reversed = BS_new.reindex(index=BS_new.index[::-1])
BS_path_stats_reversed = BS_path_stats_reversed.reset_index(drop=True)
ASBS_joined = pd.concat([AS_new, BS_path_stats_reversed], axis=1)

new_columns = ['PathNum A', 'Target A',  '+ Rate A', 'Target B', '+ Rate B', 'Avg D (+) A', 'SD D (+) A', \
               'Avg D (+) B', 'SD D (+) B',  'Avg. T (+) A', 'SD T (+) A', 'Avg. T (+) B', \
               'SD T (+) B', 'Avg S (+) A', 'SD S (+) A', 'Avg S (+) B', 'SD S (+) B']

ASBS = ASBS_joined.reindex(sorted(ASBS_joined.columns), axis=1)[new_columns]


print('\nCorrelation between Success Rates: ' + str(ASBS['+ Rate A'].corr(ASBS['+ Rate B'])))


ASBS

Correlation between Success Rates: 0.7095798077055908

,PathNum A,Target A,+ Rate A,Target B,+ Rate B,Avg D (+) A,SD D (+) A,Avg D (+) B,SD D (+) B,Avg. T (+) A,SD T (+) A,Avg. T (+) B,SD T (+) B,Avg S (+) A,SD S (+) A,Avg S (+) B,SD S (+) B
0,NaN,NaN,NaN,windmill,1.000000,NaN,NaN,704.234993,325.006458,NaN,NaN,150.240288,67.216606,NaN,NaN,4.672957,0.185618
1,1.0,book,0.583333,book,0.642857,693.410460,298.965982,821.069340,363.898623,161.914439,54.236144,177.997099,78.367980,4.247128,0.689520,4.597477,0.221969
2,2.0,shark,0.916667,shark,1.000000,444.105754,190.533413,279.478977,229.227745,103.495294,41.733701,62.683658,51.683104,4.321187,0.585604,4.500475,0.377363
3,3.0,bear,0.833333,bear,0.714286,230.757404,162.852100,774.042090,257.125562,52.072322,35.897732,167.674285,58.569429,4.446598,0.413870,4.640180,0.219616
4,4.0,no graffiti,0.166667,no graffiti,0.000000,803.894130,264.803545,NaN,NaN,196.542249,58.004837,NaN,NaN,4.068556,0.146572,NaN,NaN
5,5.0,banque strechnitz,0.500000,banque strechnitz,0.928571,353.295889,12.240751,948.218003,485.278432,79.653422,9.573732,206.320719,97.617372,4.483926,0.499164,4.530608,0.376079
6,6.0,foxes,0.833333,foxes,0.571429,681.017139,293.940689,228.446460,8.489905,155.129403,71.633193,49.831135,3.748735,4.452967,0.416271,4.601245,0.301619
7,7.0,johny patisserie,0.750000,johny patisserie,0.642857,224.525669,13.613748,740.411634,413.917311,57.555982,15.655423,161.914168,85.031437,4.101904,0.850133,4.570293,0.348531
8,8.0,gorilla,0.833333,gorilla,0.714286,739.239353,303.403762,663.505988,275.909481,159.703784,63.684079,146.107746,62.410763,4.641856,0.325700,4.592152,0.371846
9,9.0,remote house,0.250000,NaN,NaN,466.609018,77.798523,NaN,NaN,98.339506,17.564382,NaN,NaN,4.751275,0.102767,NaN,NaN

<img src="./Pics/paths.png">

### Path Difficulties per Condition by Success Rate

In [101]:
# Path difficulties on Average

def pretty_print_diffs(df):
    
    for idx, row in df.iterrows():
        print("{0:0.0f} \t {1:0.3f} \t {2}".format(row['PathNum'], row['+ Rate'], row['Target']))
    print('\n')

top_diff_A = A_path_stats.sort_values(by="+ Rate", ascending=True)[["PathNum", "+ Rate", "Target"]][0:3]
top_diff_B = B_path_stats.sort_values(by="+ Rate", ascending=True)[["PathNum", "+ Rate", "Target"]][0:3]
bot_diff_A = A_path_stats.sort_values(by="+ Rate", ascending=False)[["PathNum", "+ Rate", "Target"]][0:3]
bot_diff_B = B_path_stats.sort_values(by="+ Rate", ascending=False)[["PathNum", "+ Rate", "Target"]][0:3]
print("Most difficult paths in A:")
pretty_print_diffs(top_diff_A)
print("Most difficult paths in B:")
pretty_print_diffs(top_diff_B)
print("Most easy paths in A:")
pretty_print_diffs(bot_diff_A)
print("Most easy paths in B:")
pretty_print_diffs(bot_diff_B)

Most difficult paths in A:
4 	 0.167 	 no graffiti
9 	 0.250 	 remote house
5 	 0.500 	 banque strechnitz


Most difficult paths in B:
5 	 0.000 	 no graffiti
3 	 0.571 	 foxes
2 	 0.643 	 johny patisserie


Most easy paths in A:
2 	 0.917 	 shark
3 	 0.833 	 bear
6 	 0.833 	 foxes


Most easy paths in B:
7 	 1.000 	 shark
9 	 1.000 	 windmill
4 	 0.929 	 banque strechnitz

In [106]:
# Correlation between overlapping path successes

A_targ = A_path_stats[:8]
B_targ = B_path_stats[:8]
B_targ = B_targ.reindex(index=B_targ.index[::-1]).reset_index(drop=True)

B_rev = B_path_stats.reindex(index=B_path_stats.index[::-1]).reset_index(drop=True);

print("Correlations:")
print("Success rates for same target house :{0:0.3f}".format(A_targ['+ Rate'].corr(B_targ['+ Rate'])));


B_targ

Correlations:
Success rates for same target house :0.710

,PathNum,Target,+ Rate,Limit,Avg. T (+),SD T (+),Avg. T (after -),SD T (after -),Avg D (+),SD D (+),Avg S (+),SD S (+)
0,8,book,0.642857,305.0,177.997099,78.367980,98.827377,25.200365,821.069340,363.898623,4.597477,0.221969
1,7,shark,1.000000,234.0,62.683658,51.683104,NaN,NaN,279.478977,229.227745,4.500475,0.377363
2,6,bear,0.714286,332.0,167.674285,58.569429,95.827939,12.060102,774.042090,257.125562,4.640180,0.219616
3,5,no graffiti,0.000000,268.0,NaN,NaN,102.886259,74.888210,NaN,NaN,NaN,NaN
4,4,banque strechnitz,0.928571,394.0,206.320719,97.617372,79.476636,NaN,948.218003,485.278432,4.530608,0.376079
5,3,foxes,0.571429,152.0,49.831135,3.748735,129.493369,57.549610,228.446460,8.489905,4.601245,0.301619
6,2,johny patisserie,0.642857,383.0,161.914168,85.031437,123.339809,46.854770,740.411634,413.917311,4.570293,0.348531
7,1,gorilla,0.714286,332.0,146.107746,62.410763,153.370460,89.679451,663.505988,275.909481,4.592152,0.371846

In [121]:
# Averages for each category and standard deviation
# Look for outliers
# Average speed? - Distance over time - Compare to final performance
#    for individual paths and for participants overall

# TODO - think about the relevance of individual analysis and path analysis
# TODO - time before guide appeared for success - individual subject and for each path?
# TODO - same performance for dyadic, stare at statistics and generate some observations

Other possible path analysis to apply:
- Look at the heatmap of movement for each path in either conditions. See if there can be identified a most used route, compare perhaps to the shortest route, and see if the most used route differs in either condition.

<img src='Pics/paths.png'>